
@use '_vars' as *;

.active {
    box-shadow: inset 200px 0 0 0 #54b3d6 !important;
    color: white;
    padding: .15rem 0.50rem;
    margin: 0 -.25rem;
    margin-inline:18px;
    transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    @media (max-width:992px) {
        box-shadow: none !important;
    }
}
.container {
    width:80%;
    margin: auto;
}
.section-padding {
    padding-block: 60px;
/*==== make it responsive in mobile app ======*/
    @media (max-width:768px){
        padding-block: 30px;
    }
}
.pointer {
    cursor: pointer;
}
.text-white {
    color:white;
}
// ===== page buttons style =====
.button-style{
    padding: 10px 45px;
    background: $button-gradient;
    color:white;
    border-radius: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.4s all ease;
    &:hover{
        padding: 10px 60px;
        background-color:transparent;
        background: none;
        border: 1px solid white;
    }
}
//========= section title style =====
.title {
            text-align: center;
            margin-block: 60px 100px;
            font-size: 30px;
            position: relative;
                font-weight: 300;
            &::before {
                content: '';
                display: inline-block;
                width: 5rem;
                height: 3px;
                background-color: hsl(198, 60%, 50%);
                margin: 0 25px 8px 0;
              }
              
              &::after {
                content: '';
                display: inline-block;
                width: 5rem;
                height: 3px;
                background-color: hsl(198, 60%, 50%);
                margin: 0 0 8px 25px;
              }


            /* make title reponsive */
            @media (max-width:768px){
                font-size: 24px;
                &::before {
                    width: 4rem;
                    height: 3px;
                    background-color: hsl(198, 60%, 50%);
                    margin: 0 25px 8px 0;
                  }
                  
                  &::after {
                    width: 4rem;
                    height: 3px;
                    margin: 0 0 8px 25px;
                  }
            }
}