
@use '_vars' as *;

.container {
    width:80%;
    margin: auto;
}

.section-padding {
    padding-block: 60px;
}
.pointer {
    cursor: pointer;
}

.text-white {
    color:white;
}

.button-style{
    padding: 12px 65px;
    background: $button-gradient;
    color:white;
    border-radius: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.4s ease ;
    &:hover{
        background:linear-gradient(to left , hsl(176, 68%, 64%) , hsl(198, 60%, 50%));
    }
}

.title {
            text-align: center;
            margin-block: 60px 100px;
            font-size: 30px;
            position: relative;
                font-weight: 300;

            &::before {
                content: '';
                display: inline-block;
                width: 5rem;
                height: 3px;
                background-color: hsl(198, 60%, 50%);
                margin: 0 25px 8px 0;
              }
              
              &::after {
                content: '';
                display: inline-block;
                width: 5rem;
                height: 3px;
                background-color: hsl(198, 60%, 50%);
                margin: 0 0 8px 25px;
              }


            /* make title underline reponsive */
            // @media (max-width:1200px){
            //     font-size: 35px;

            //     &::before{
            //         left: 35%;
            //         transform: translateX(-35%);
            //     }
            // }
            // @media (max-width:768px){
            //     &::before{
            //         left: 30%;
            //         transform: translateX(-30%);
            //     }
            // }
}