//=======  import variables , classes and mixins ======== 

@use 'scss-items/mixins' as *;
@use 'scss-items/vars' as *;
@use 'scss-items/classes' as *;

html {
    scroll-behavior: smooth;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.3s ease all;
}
body {
    font-family: 'main-font';
    overflow-x: hidden;
    background-color: $main-background;
}
button {
    outline: none;
    border: none;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    li {
        display: inline-block
    }
}

nav, button, h1, h2, h3, h4 {
    font-family: 'head-font';
}


/*====== nav style ======*/
nav {
    width: 100%;
    z-index: 999;
    background-color: $intro-background;
    #check,.checkbtn{
        display: none;
    }
    .nav-content{
        @include flexible(space-between);
        padding-block: 15px;
        .nav-logo {
            img {
                width: 150px;
            }
        }
        .nav-list{
            font-size: 18px;
            ul{
                li{
                    margin-inline:18px;
                    color:hsl(233, 8%, 62%);
                    position: relative;
                    &:after{
                        content:'';
                        position: absolute;
                        left: 0;
                        bottom: -15px;
                        height: 2px;
                        width: 0%;
                        background: $button-gradient;
                        transition: 0.3s ease all;
                    }
                    &:hover {
                        color:white;
                        &::after{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }


/* ===== display mobile navigation =====*/ 
@media (max-width:992px) {
    #close-nav{
                display: none;
    }
    .checkbtn{
                display: inline-block;
                position: absolute;
                right:30px;
                top:17px;
                cursor: pointer;
                img{
                    width: 40px;
                    height: 20px;
                }
    }
    .nav-content{
                @include flexible(space-between);
                padding-block: 15px;

                .nav-list{
                    position: absolute;
                    top: -1120%;
                    background-color: white;
                    border-radius: 10px;
                    width:80%;
                    margin: auto;
                    text-align: center;
                    ul{
                        li{
                            margin-block:25px;
                            display: block;
                            width: 100%;
                            position: relative;
                            &:hover {
                                color:black;
                                &::after{
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
                .nav-button {
                    display: none;
                }
            }

            /* ======= OPEN MOBILE NAV =======*/ 
            #check:checked ~ .nav-content{
                    .nav-list{
                    top: 120%;
                    }
                    
                }
            }
        }

/*====== header style ======*/

header {
    height: 100vh;
    padding-block: 100px;
    background-color: $intro-background;

    background-image: url('../images/bg-curvy-desktop.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    .container{
        @include flexible(center);
        .header-content{
            text-align: center;
            color: white;
            .header-img{
                img {
                    width: 70%;
                }
            }

            .header-text{
                h2 {
                    font-size: 30px;
                    line-height: 40px;
                }
                p{
                    margin-block:25px;
                    
                }
            }
        }
    }
}