//=======  import variables , classes and mixins ======== 

@use 'scss-items/mixins' as *;
@use 'scss-items/vars' as *;
@use 'scss-items/classes' as *;

html {
    scroll-behavior: smooth;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.3s ease all;
}
body {
    font-family: 'main-font';
    overflow-x: hidden;
    background-color: $main-background;
}
button {
    outline: none;
    border: none;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    li {
        display: inline-block
    }
}

nav, button, h1, h2, h3, h4 {
    font-family: 'head-font';
}


/*====== nav style ======*/
nav {
    width: 100%;
    z-index: 999;
    background-color: $intro-background;
    #check,.checkbtn{
        display: none;
    }
    .nav-content{
        @include flexible(space-between);
        padding-block: 15px;
        .nav-logo {
            img {
                width: 150px;
            }
        }
        .nav-list{
            font-size: 18px;
            ul{
                a {
                    box-shadow: inset 0 0 0 0 #54b3d6;
                    color: white;
                    padding: .15rem 0.50rem;
                    margin: 0 -.25rem;
                    margin-inline:18px;
                    
                    transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
                  }
                  a:hover {
                    color: #fff;
                    box-shadow: inset 200px 0 0 0 #54b3d6;;
                  }
            }
        }
    }


/* ===== display mobile navigation =====*/ 
@media (max-width:992px) {
    #close-nav{
                display: none;
    }
    .checkbtn{
                display: inline-block;
                position: absolute;
                right:30px;
                top:17px;
                cursor: pointer;
                img{
                    width: 40px;
                    height: 20px;
                }
    }
    .nav-content{
                @include flexible(space-between);
                padding-block: 15px;

                .nav-list{
                    position: absolute;
                    top: -1120%;
                    background-color: white;
                    border-radius: 10px;
                    width:80%;
                    margin: auto;
                    text-align: center;
                    ul{
                        li{
                            margin-block:25px;
                            display: block;
                            width: 100%;
                            position: relative;
                            &:hover {
                                color:black;
                                &::after{
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
                .nav-button {
                    display: none;
                }
            }

            /* ======= OPEN MOBILE NAV =======*/ 
            #check:checked ~ .nav-content{
                    .nav-list{
                    top: 120%;
                    }
                    
                }
            }
        }

/*====== header style ======*/
header {
    height: 100vh;
    padding-block: 100px;
    background-color: $intro-background;

    background-image: url('../images/bg-curvy-desktop.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    .container{
        @include flexible(center);
        .header-content{
            text-align: center;
            color: white;
            .header-img{
                img {
                    width: 70%;
                }
            }

            .header-text{
                h2 {
                    font-size: 30px;
                    line-height: 40px;
                }
                p{
                    margin-block:25px;
                    
                }
            }
        }
    }
}

/*===== about style =====*/
.about {
    .container{
        .about-content{
            @include flexible(center);
            .about-item{
                width: 50%;
            }
            .about-image{
                img{
                    width: 80%;
                }
            }

            .about-text{
                h3 {
                    font-size: 40px;
                    line-height: 50px;
                }
                p {
                    font-size: 18px;
                    line-height: 30px;
                    margin-block:30px
                }
                a {
                    position: relative;
                    border-bottom: 2px solid white;
                    &:after{
                        content:'';
                        position: absolute;
                        left: 0;
                        bottom: -3px;
                        height: 2px;
                        width: 0%;
                        background: $button-gradient;
                        transition: 0.3s ease all;
                    }
                    &:hover {
                        color:hsl(176, 68%, 64%);
                        border-bottom: 0px;

                        &::after{
                            width: 100%;
                        }

                        i {
                            color:hsl(176, 68%, 64%);}
                        }
                    }
                    i{
                        margin-inline-start: 10px;
                }
            }
            
        }
    }
}

/* ======= features style ===== */
.features {
    margin-top: 80px;
    .container{
        .features-content {
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            gap: 60px;
            .features-item {
                width: calc(90%/ 2);
                box-shadow: rgba(255, 255, 255, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
                padding-block: 30px;
                transition: all 0.6s ease;
                border-radius: 20px;
                cursor: pointer;
                .features-text{
                    color:white;
                    width: 65%;
                    margin: auto;
                    h3 {
                        margin-block: 15px;
                    }
                    p{
                        line-height: 24px;
                    }
                }

                &:hover{
                    box-shadow: hsl(176, 68%, 64%) -5px 5px, hsl(198, 60%, 50%) -10px 10px ;
                }
            }
        }
    }
}

/* ======= testimonials style =====*/

.testimonials {
    .container{
        .testimonials-content{
            display: flex;
            column-gap: 20px;
            position: relative;
            .quote-img{
                position: absolute;
                top:-35px;
                left: -10px;
                z-index: -1;
            }
            .item {
                background-color: $feedback-background;
                padding: 30px;
                border-radius: 10px;

                .feedback{
                    margin-block: 15px 20px;
                }
                .person{
                    display: flex;
                    align-items: center;
                    .person-img {
                        margin-right: 15px;
                        img{
                            height: 35px;
                            width: 35px;
                            border-radius: 50%;
                        }
                    }
                    .person-info{
                        p{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}


/* ======== contact style =======*/ 
.contact{
    .container{
        .contact-content{
            display: flex;
            column-gap: 50px;
            .contact-form{
                width: 45%;
                .form-text{
                    color:white;
                    margin-bottom: 30px;
                    h4 {
                        font-size:26px;
                        letter-spacing: 4px;
                        border-bottom: 2px solid $button-hover;
                        width: 200px;
                        margin-bottom: 20px;
                        padding-bottom: 10px;

                    }
                }
                .input{
                    margin-bottom: 20px;
                    input{
                        @include inputStyle;
                        border: 2px solid hsl(198, 60%, 50%);
                        background-color: $feedback-background;
                        color: white;
                        &::placeholder{
                            color: white;
                        }
                    }
                }
                .text-area{
                    margin-bottom: 40px;
                    textarea{
                        @include inputStyle;
                        border: 2px solid hsl(198, 60%, 50%);
                        background-color: $feedback-background;
                        color: white;
                    }
                }
            }

            .contact-map{
                width: 55%;
            }
    }
    }
}

/* ====== footer style ===== */
.footer {
    background-color: $footer-background;
    position: relative;
    padding-top: 170px;
    margin-top: 150px;
    .container{
        .access{
            @include container(50%);
            position:absolute;
            top:-100%;
            left: 50%;
            transform: translate(-50%, 100%);
            background-color: $intro-background;
            padding: 30px;
            border-radius: 15px;
            h4{
                font-size: 26px;
                letter-spacing: 2px;
            }
            p{
                margin-block: 30px;
                line-height: 25px;
            }

            .access-input {
                display: flex;
                justify-content: space-between;
                input{
                    outline: none;
                    border: none;
                    padding: 5px 10px;
                    border-radius: 20px;
                    font-size: 16px;
                    border: 2px solid hsl(198, 60%, 50%);
                    background-color: $feedback-background;
                    width: 50%;
                    color: white;
                    &::placeholder{
                        color: white;
                    }
                }
            }
        }
        .footer-content{
            display: flex;
            .footer-social{
                width: 25%;
                display: flex;
                flex-wrap: wrap;
                align-content: space-between;
                .social{
                    width: 100%;
                    i{
                        color:white;
                        margin-inline: 5px;
                        &:hover{
                            color:$button-hover;
                        }
                    }
                }
            }
            .footer-list{
                display: flex;
                width: 50%;
                column-gap:20%;
                ul {
                    li{
                        display: block;
                        color: white;
                        line-height: 40px;
                        &:hover{
                            color:$button-hover;
                        }
                    }
                }
            }
            .footer-copyright{
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                align-content: space-between;
                width: 25%;
                .footer-copyright-text{
                    color: white;
                }
            }
        }
    }

    @media (max-width:768px){
        .container{
            .footer-content{
                flex-wrap: wrap;
                .footer-social{
                    width: 100%;
                    justify-content: center;
                    .social{
                        margin-top: 40px;
                        text-align: center;
                        i{
                            margin-inline: 17px;
                            font-size: 30px;
                        }
                    }
                }
                .footer-list{
                    flex-wrap: wrap;
                    width: 100%;
                    margin-top: 30px;
                    ul {
                        width: 100%;
                        text-align: center;
                        li{
                            line-height: 70px;
                            font-size: 26px;
                        }
                    }
                }
                .footer-copyright{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-content: space-between;

                    .footer-button {
                        margin-block: 30px;
                        button{
                            font-size: 22px;
                        }
                    }
                    .footer-copyright-text{
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }
    }
}
